@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding:0px;
    margin:0px;
}

body{
    font-family:1rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image:linear-gradient(to right, #05299E, #5E4AE3, #947BD3, #F0A7A0, #F26CA7);
}

nav{
    border:3px solid black;
    border-radius:20px;
    text-align: center;
    max-width:400px;
    margin:5px auto;
    background-color:aliceblue;
}

li{
    /* font-size:1.5em; */
    line-height: 2em;
    border-top:1px solid black;
}

li a{
    text-decoration: none;
    /* font-size: 1.5rem; */
    display:block;
}

.heading{
    background-color: gold;
    color:#000;
    border-radius:20px 20px 0 0;
    font-size: 2rem;
}

ul{
    list-style-type: none;
}

li a:hover{
    background-color:#333;;
    color:whitesmoke;
}

a:visited{
    color:#000;
}

a:focus, a:active{
    color:crimson;
}

ul li:last-child a{
    border-radius:0 0 20px 20px;
}
